#container {
  display: flex;
  flex-direction: row;
  padding: 20px 
}

.left {
  display: flex;
  flex: 1;
  flex-direction: column 
}
.picture {
  display: flex;
  justify-content: center;
}

.full-name {
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 18px;
  padding-top: 20px;
}
.map {
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: 200;
  padding-bottom: 20px;
}

.profile-infos {
  display: flex;
  flex: 2;
  justify-content: center
}

#img {
    border-radius: 50%;
}

#hexagon {
    position: relative;
    height: 30px; 
    width: 17.32px;
    background-color: #FFD82F;
    margin: 0 8.66px;
    text-align: center;
  }
  
#hexagon span{
    font-size: 15px;
    line-height: 30px;
    color: white;
  }
  
#hexagon:before,

#hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  
#hexagon:before {
    right: 100%;
    border-right: 8.66px solid #FFD82F;
  }
  
#hexagon:after {
    left: 100%;
    width: 0;
    border-left: 8.66px solid #FFD82F;
  }

.react-switch {
  vertical-align: middle;
  margin-left: 10px;
}