#pictable {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

#delete {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

#picture {
    display: flex;
    background-color: lightgray;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 30%;
    height: 30%
}

#buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#title {
  font-family: 'Times New Roman';
  font-size: 36px;
  display: flex;
  justify-content: center;
  flex: 1;
  background-color: lavender;
  height: 150px;
  align-items: center;
  margin-bottom: 30px;
  flex-direction: column;
}

#addButton {
  display: 'flex';
  margin: auto;
}

#imgButton {
  border: none;
  background-color: transparent;
}

#tag {
  margin: 2px;
  padding: 3px;
  font-size: 12px;
}

#load {
  display: flex;
  justify-content: center;
  margin: 10px;
}

h1 {
  display: 'flex';
  font-family: 'Fredoka One', cursive;
  font-weight: 300;
}

tr {
  height: 350px;
  width: 400px;
  background-color: white;
  margin: 20px;
  padding: 10px;
  font-size: 12px;
}



